{% extends "layouts/application.html" %}
{% import "commons/pagination.html" as pagination %}

{% block content %}
  <div class='col {{ '-8' if relatedNews.length }}'>
    <h1>Индексная страница</h1>

    {% for user in users %}
      {{ user.name }}
    {% endfor %}

    {{ pagination.init("reload") }}
  </div>
{% endblock %}

{% block rightSide %}
  {% if relatedNews.length %}
    <div class='col-4'>
      <strong>{{ time }}</strong>
      <ul>
        {% for news in relatedNews %}
          <li>{{ news.title }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
