{% extends "layouts/application.html" %}
{% import "commons/pagination.html" as pagination %}

{% block pageTitle %}
  Тестовая страница с двумя колонками
{% endblock %}

{% block content %}
  <div class='col {{ '-8' if relatedNews.length }}'>
    <h1>{{ l.appName }}</h1>

    {% for user in users %}
      {{ user.name }}
    {% endfor %}

    {{ pagination.init("reload", l) }}
  </div>
{% endblock %}

{% block rightSide %}
  {% if relatedNews.length %}
    <div class='col-4'>
      Время:
      <strong>{{ time }}</strong>
      <ul>
        {% for news in relatedNews %}
          <li><a href="#">{{ news.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
